.container{
    width: 35%;
     margin: auto;
     border: 1px solid black;
     text-align: center;
     border-radius: 10px;
}

.container img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.container nav ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.container nav ul li{
    display: block;
    padding: 10px 15px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: black;
}

.container nav ul li a:hover{
    border-bottom: 1px solid black;
}